:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Roboto", Arial, sans-serif;
}

:root,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr {
  margin-right: 7px;
}

.mb {
  margin-bottom: 7px;
}

.dragging {
  opacity: 0;
}

.drag-preview {
  transform: rotate(5deg);
}

.plain-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
