:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Roboto", Arial, sans-serif;
}

:root,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr {
  margin-right: 7px;
}

.mb {
  margin-bottom: 7px;
}

.dragging {
  opacity: 0.3;
}

.dragging * {
  opacity: 0;
}

.drag-preview {
  transform: rotate(5deg);
}

.plain-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-light {
  color: #fff;
}

.text-dark {
  color: #000;
}

.plain-button {
  border: none;
  background: none;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.icon {
  font-size: 28px;
  display: inline-block;
  color: #a5a9b1;
}
